
.comets
  background-image url(https://upload.wikimedia.org/wikipedia/commons/a/a2/Comets_and_Shooting_Stars_Dance_Over_Paranal_%28wallpaper%29.jpg)

.milky-way
  background-image url(https://upload.wikimedia.org/wikipedia/commons/1/1e/Forest-night-sky-spruce-trees-stars_-_West_Virginia_-_ForestWander.jpg)

.night-sky
  background-image url(https://upload.wikimedia.org/wikipedia/commons/5/5e/Bright_Stars_of_Milky_Way_on_the_Dark_blue_Sky_of_Astronomy.jpg)

.skyline
  background-image url(https://upload.wikimedia.org/wikipedia/commons/2/21/The_New_York_City_skyline_just_before_sunrise_December_17,_2011.jpg)

.waterfall
  background-image url(https://upload.wikimedia.org/wikipedia/commons/3/36/Hopetoun_falls.jpg)

.flower
  background-image url(https://upload.wikimedia.org/wikipedia/commons/0/03/%28www.mrlupen.com%29_nature_0091.jpg)

.desert
  background-image url(https://upload.wikimedia.org/wikipedia/commons/7/75/Mojave_Desert-2067.jpg)

.storm
  background-image url(https://upload.wikimedia.org/wikipedia/commons/0/04/Storm_over_Miami_Beach.jpg)

.storm-320
  background-image url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Storm_over_Miami_Beach.jpg/320px-Storm_over_Miami_Beach.jpg)

.storm-640
  background-image url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Storm_over_Miami_Beach.jpg/640px-Storm_over_Miami_Beach.jpg)

.storm-800
  background-image url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Storm_over_Miami_Beach.jpg/800px-Storm_over_Miami_Beach.jpg)

.storm-1024
  background-image url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Storm_over_Miami_Beach.jpg/1024px-Storm_over_Miami_Beach.jpg)

.storm-1280
  background-image url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Storm_over_Miami_Beach.jpg/1280px-Storm_over_Miami_Beach.jpg)
