.dashbot__col
  display inline-block
  box-sizing border-box
  height 100%

.dashbot-col__1
  width 100%

.dashbot-col__2
  width 50%

.dashbot-col__3
  width 33.333333%

.dashbot-col__4
  width 25%

.dashbot-col__5
  width 20%
