html, body
  height 100%
  margin 0
  padding 0

.dashbot
  position absolute
  background-color #222
  background-image url(http://upload.wikimedia.org/wikipedia/commons/1/1e/Forest-night-sky-spruce-trees-stars_-_West_Virginia_-_ForestWander.jpg)
  background-repeat no-repeat
  background-size cover
  background-position center
  top 0
  left 0
  right 0
  bottom 0
