mqLowHeight = "only screen and (min-height: 400px)"
mqMidHeight = "only screen and (min-height: 700px)"
mqBigHeight = "only screen and (min-height: 1000px)"

.dashbot__row
  display block

.dashbot-row__1
  height 100%
  .bigFont
    font-size 40px
    @media mqLowHeight
      font-size 80px
    @media mqMidHeight
      font-size 120px
    @media mqBigHeight
      font-size 160px
  .mediumFont
    font-size 12px
    @media mqLowHeight
      font-size 18px
    @media mqMidHeight
      font-size 24px
    @media mqBigHeight
      font-size 30px

.dashbot-row__2
  height 50%
  .bigFont
    font-size 40px
    @media mqLowHeight
      font-size 80px
    @media mqMidHeight
      font-size 120px
    @media mqBigHeight
      font-size 160px
  .mediumFont
    font-size 12px
    @media mqLowHeight
      font-size 18px
    @media mqMidHeight
      font-size 24px
    @media mqBigHeight
      font-size 30px

.dashbot-row__3
  height 33.333333%
  .bigFont
    font-size 40px
    @media mqLowHeight
      font-size 80px
    @media mqMidHeight
      font-size 120px
    @media mqBigHeight
      font-size 160px
  .mediumFont
    font-size 12px
    @media mqLowHeight
      font-size 18px
    @media mqMidHeight
      font-size 24px
    @media mqBigHeight
      font-size 30px


.dashbot-row__4
  height 25%
  .bigFont
    font-size 40px
    @media mqLowHeight
      font-size 80px
    @media mqMidHeight
      font-size 120px
    @media mqBigHeight
      font-size 160px
  .mediumFont
    font-size 12px
    @media mqLowHeight
      font-size 18px
    @media mqMidHeight
      font-size 24px
    @media mqBigHeight
      font-size 30px

.dashbot-row__5
  height 20%
  .bigFont
    font-size 40px
    @media mqLowHeight
      font-size 80px
    @media mqMidHeight
      font-size 120px
    @media mqBigHeight
      font-size 160px
  .mediumFont
    font-size 12px
    @media mqLowHeight
      font-size 18px
    @media mqMidHeight
      font-size 24px
    @media mqBigHeight
      font-size 30px

.dashbot-row__6
  height 16.6667%
  .bigFont
    font-size 40px
    @media mqLowHeight
      font-size 80px
    @media mqMidHeight
      font-size 120px
    @media mqBigHeight
      font-size 160px
  .mediumFont
    font-size 12px
    @media mqLowHeight
      font-size 18px
    @media mqMidHeight
      font-size 24px
    @media mqBigHeight
      font-size 30px

.dashbot-row__7
  height 14.28%
  .bigFont
    font-size 40px
    @media mqLowHeight
      font-size 40px
    @media mqMidHeight
      font-size 60px
    @media mqBigHeight
      font-size 80px
  .mediumFont
    font-size 12px
    @media mqLowHeight
      font-size 12px
    @media mqMidHeight
      font-size 18px
    @media mqBigHeight
      font-size 24px

.dashbot-row__8
  height 12.5%
  .bigFont
    font-size 40px
    @media mqLowHeight
      font-size 40px
    @media mqMidHeight
      font-size 60px
    @media mqBigHeight
      font-size 80px
  .mediumFont
    font-size 12px
    @media mqLowHeight
      font-size 12px
    @media mqMidHeight
      font-size 18px
    @media mqBigHeight
      font-size 24px
