//.dashbot_visual__graph
//  color #e7e7e7

.dashbot_visual_graph__title
  position absolute
  margin-left 3%

dashbot_visual-graph__svg
  border solid red 1px
  width 10px
  height 10px

svg
  //background-color red
  width 100%
  height 180px
